.btn {
  &--primary {
    background-color: $primary-color;
    color: $color-white;
    border: 1px solid transparent;

    &:hover {
      // @extend .btn--outline;
      background-color: transparent;
      border-color: $primary-color;
    }
  }

  &--secondary {
    background-color: $color-white;
    color: $primary-color;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    font-weight: 400;

    .icon {
      margin-inline-end: 13px;
      font-size: rem(20);
    }
  }

  &--circle {
    width: 50px;
    height: 50px;
    // display: inline-block;
    border-radius: 50%;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
}

.link {
  font-size: rem(14);
  font-weight: bold;
  border: 0;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  &--primary {
    color: $primary-color;
  }
}
