.co-social {
  display: flex;
  align-items: center;
  list-style: none;

  .icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid$color-white;
    color: $color-white;
    border-radius: 50%;
    font-size: rem(18);
    transition: $transition-type;
  }

  &__item {
    transition: $transition-type;
    &:not(:last-child) {
      .icon {
        margin-#{$right}: 15px;
      }
    }
    &:hover {
      .icon {
        cursor: pointer;
        background-color: $secondary-color;
      }
    }
  }
}
