.swiper-controls {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-top: 46px;

  &--next, &--prev {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #375041;
    transition: all .5s;

    .icon {
      font-size: 25px;
      transition: all .5s;
    }

    &:hover {
      background-color: $secondary-color;

        .icon {
           font-size: 30px;
        }
    }
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: .3;
  background-color: #FFFFFF
}

.swiper-pagination-bullet-active {
  background-color: #FFAD4E;
  opacity: 1;
}

.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
