.vertical-separator {
    border-left: 1px solid #e5e5e5;
    height: 16px;
    display: block;
    opacity: 0.2;
}

.section-line {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, rgba(62, 151, 76, 0) 0%, #3E974C 50%, rgba(62, 151, 76, 0) 100%);
    width: 100%;
    height: 6px;
}

.image-drawer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #244734;
    border-radius: 12px;
    transform: rotate(-3deg);
}

.section-triangle {
    &:before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        clip-path: polygon(63% 0, 100% 0, 100% 100%, 0% 100%);
        background-color: #284434;
        opacity: .2;
        width: 70%;
        height: calc(100%);
        z-index: 0;
    }

    &__content {
        z-index: 10;
        position: relative;
    }
}

.section__tabs {
    display: flex;
    align-items: center;
    column-gap: 30px;

    &__item {
        &__link {
            border: 1px solid var(--G500, #297935);
            border-radius: 50px;
            padding: 16px;
            font-size: 16px;
            transition: background-color .3s;
            display: block;

            &:hover, &.active {
                background-color: #B1803E;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        column-gap: 0;
        margin-top: 20px;

        &__item {
            width: 100%;
            &__link {
                width: 100%;
                margin-bottom: 15px;
                text-align: center;
            }
        }
    }
}


.section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
        flex-direction: column
    }
}
