.section-title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.4;
  position: relative;
}

.underline-word {
 &:before {
   content: "";
   position: absolute;
   bottom: -8px;
   width: 40px;
   height: 6px;
   border-radius: 5px;
   background: var(--G300, #3E974C);
 }
}

.section-description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 32.4px;
}


@include media-breakpoint-down(sm) {
  .section-title {
    font-size: 24px;
  }
  .section-description {
    font-size: 16px;
    line-height: 28.8px;
  }
}
