.writings {
  background-color: #284434;
  padding: 60px 0;
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__swiper {
    margin-bottom: 10px;
  }
}


.testimonials {
  padding: 110px 0;
  background-image: url(../img/testimonials-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: $primary-color;
  position: relative;
  &__swiper {
    margin-top: 80px;
  }
}

.news {
  padding: 110px 0;
  background-image: url(../img/news-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: $primary-color;
  position: relative;
  &__swiper {
    margin-top: 80px;
  }
}
