.writings {
  background-color: #284434;
  background-image: url(../img/writings-bg.png);
  padding: 60px 0 40px 0;
  position: relative;
  z-index: 1;
  background-position: left;
  background-size: 70%;
  background-repeat: no-repeat;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__swiper {
    margin-bottom: 10px;
  }
}


.testimonials {
  padding: 110px 0;
  background-image: url(../img/testimonials-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(24, 48, 33, .9);
  position: relative;
  &__swiper {
    margin-top: 80px;
  }

  &:after, &:before {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, rgba(62, 151, 76, 0) 0%, #3E974C 50%, rgba(62, 151, 76, 0) 100%);
    bottom: 0;
    width: 100%;
    height: 6px;
  }

  &:before {
    bottom: unset;
    top: 0;
  }

}

.news {
  padding: 110px 0;
  background-image: url(../img/news-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primary-color;
  position: relative;
  &__swiper {
    margin-top: 80px;
  }
}


.achievements {
  background-color: #183021;
  background-size: cover;
  padding: 130px 0;
  position: relative;
  z-index: 1;

  &__container {
    display: flex;
    column-gap: 30px;
  }

  &__header {
    //margin-top: 147px;
    //margin-bottom: 40px;
    position: relative;
  }

  &__title {
  }

  &__underline {
    margin-top: 10px;
    width: 56px;
    height: 6px;
  }

  &__tabs {
    margin-top: 96px;

    &__icon {
      width: 68px;
      height: 68px;
      background-color: rgba(255, 253, 253, 0.09);
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      transition: all .3s;
      position: relative;

      &:hover {
        background-color: #297935;
      }

      &.active {
        background-color: #297935;
        position: relative;
        &::after {
          content: "";
          width: 15px;
          height: 15px;
          transform: rotate(-45deg) translateY(50%);
          position: absolute;
          left: -8px;
          flex-shrink: 0;
          border-radius: 3px;
          background: var(--G500, #297935);
        }
      }

      .icon {
        color: #fff;
        font-size: 20px;
        &:before {
          color: currentColor;
        }
      }
    }

    .nav-item {
      &:not(:last-child) {
        .achievements__tabs__icon::before {
          content: "";
          opacity: 0.09;
          background: #FFF;
          width: 2px;
          height: 40px;
          left: 50%;
          bottom: -30px;
          position: absolute;
        }
      }
    }

    .nav-link {
      padding: 10px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__content {
    //margin-top: 64px;

    &__info {
      flex: 6;
      margin-top: 96px;
    }

    &__tab {
      display: flex;
      column-gap: 60px;
    }
  }

  &__image {
    border-radius: 12px;
    flex: 5;
    position: relative;

    img {
      width: 100%;
      position: relative;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #244734;
        border-radius: 12px;
        transform: rotate(-3deg);

    }
  }

  &__subtitle {
    font-size: 32px;
    line-height: 38.43px;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
  }

  &__buttons {
    margin-top: 32px;
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &:before {
    position: absolute;
    content: "";
    top: -160px;
    right: 0;
    clip-path: polygon(63% 0, 100% 0, 100% 100%, 0% 100%);
    background-color:#284434;
    opacity: .2;
    width: 70%;
    height: calc(100% + 160px);
    z-index: -1;
  }
}

.gallery {
  background-color: #294334;
  background-image: url(../img/gallery-bg.png);
  background-size: cover;
  background-position: left;
  padding: 90px 0;

  &__title {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  &__tabs {
    flex: 1;
    &__tab {
      margin-bottom: 24px;

      &__title {
        font-size: 16px;
        border-radius: 50px;
        background: #183021;
        border:1px solid #183021;
        padding: 10px 16px;
        display: block;
        line-height: 150%; /* 24px */
        transition: all .3s;


        &.active, &:hover {
            background: transparent;
            color: #FFAD4E;
            border-color: #FFAD4E;
        }
      }
    }
  }

  &__sections {
    display: flex;
    column-gap: 120px;
  }

  &__content {
    flex: 3;
    &__images {
      display: flex;
      column-gap: 42px;
      margin-bottom: 42px;
      &__item {
        &__image {
          width: 100%;
        }
      }
    }
  }
}
