// styles.scss

.footer {
  background-color: #183021;

  &__logo {
    max-width: 100%;
  }

  &__description {
    font-size: 18px;
    line-height: 24px;
    text-align: right;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    margin-bottom: 16px;
  }

  &__list {
    li {
      font-size: 14px;
      line-height: 19.22px;
      text-align: right;
      margin-bottom: 16px;
    }
  }

  &__rights {
    background-color: #14261b;
    font-size: 16px;
    padding: 24px;
    line-height: 19.22px;
    text-align: center;
    color: #b9c2bd;
  }

  &__copyright {
    font-size: 16px;
    text-align: center;
    padding: 24px 0;
    background: #14261B;
    color: #B9C2BD;
  }
}


