.header {
  position: relative;
  &__logo {
    margin-inline-end: 50px;
    position: absolute;
    top: 30px;
    right: 60px;

    img {
      height: 100%;
    }
  }

  &__mobile {
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: $secondary-color;
    top: 0;
    bottom: 0;

    &__change-lang {
      color: $primary-color;
    }
  }

  &__mobile-nav {
    display: none;
    background-color: #174E30;
    color: $color-grey;
    // border-top: 1px solid $color-light-grey;
    // border-bottom: 1px solid $color-light-grey;
    box-shadow: $main-box-shadow;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;

    @include media-breakpoint-down(lg) {
      display: block;
    }

    &__burger-menu {
      font-size: rem(25);
      color: #fff;
      margin-#{$right}: 20px;
    }

    &__logo img {
      height: 45px;
    }

    &__account {
      font-size: rem(25);
      width: 45px;
      height: 45px;
      background-color: $primary-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
      margin-#{$right}: 20px;

      &:hover {
        color: $color-white !important;
      }
    }

    &__account-dropdown {
      padding: 10px;
      a {
        display: block;
        text-align: #{$left};
        margin-bottom: 10px;
      }
    }

    #searchMobile {
      width: 0;
      height: 0;
      transition: all 1s ease-in-out;
    }
  }

  &__navbar{
    &--top {
      background-color: #155934;
      padding: 12px 0;
      padding-inline-start: 342px;


      &__container {
        display: flex;
        align-items: center;
        padding-inline-end: 60px;
      }

      &__items {
        margin-inline-end: auto;

        display: flex;
        align-items: center;
        column-gap: 24px;
        &__item {
          display: flex;
          align-items: center;
          column-gap: 8px;
          &__text {
            font-size: 18px;
            font-weight: 200;
          }

          &__icon {
            color: #FFAD4E;
            font-size: 20px;
          }
        }

      }

      &__actions {
        display: flex;
        align-items: center;
        column-gap: 8px;

        &__lang {
          display: flex;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          border: 1px solid rgba(129, 129, 129, 0.30);
          font-size: 18px;
        }

        &__action {
          border-radius: 8px;
          display: flex;
          height: 48px;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          background: rgba(13, 61, 24, 0.22);
          font-size: 14px;

          &__link {
            .icon {
              color: $color-white;
              font-size: 18px;
              &:before {
                color: currentColor;
              }
            }
          }
        }

      }
    }

    &--bottom {
      background: rgba(19, 80, 47, 1);

      .navbar__links   {
        padding-inline-start: 260px;
        display: flex;
        align-items: center;
      }

      .navbar__link {
        display: flex;
        height: 72px;
        padding: 28px 16px 20px 16px;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 4px;

        &--dropdown {
          span {
            display: flex;
            align-items: center;
            column-gap: 10px;

            .icon {
              font-size: 10px;
            }
          }

          .dropdown-menu {
            background-color: #1C1C1C;
            direction: rtl;
            border-radius: 15px;

            .dropdown-item {
              color: #fff;
              transition: color .3s;
              background-color: transparent;
              text-align: right;
              margin-bottom: 10px;

              &:hover {
                color: #297935;
              }
            }
          }
        }
      }

      .navbar__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
      }
    }

    &--sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    @include media-breakpoint-down(sm){
     &--top {
       display: none;
       padding-inline-start: 0;

       &__container {
         padding: 0;
         justify-content: center;
       }
       &__items, &__actions {
         display: none;
       }
     }

      &--bottom {
       display: none;
      }
    }
  }

  &__hero {
    height: calc(100vh - 144px);
    background-image: url(../img/hero.png);
    background-size: cover;
    background-position: center;
    position: relative;

    &__content {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      //padding-top: 50px;
      height: calc(100% - 150px);

      &__title {
        border-radius: 8px;
        background: var(--G500, #297935);
        padding: 10px 16px;
        display: inline;
        margin-bottom: 30px;
        font-size: 20px;
      }

      &__description {
        text-align: justify;
        font-size: 46px;
        font-weight: 700;
        line-height: 181.8%; /* 83.628px */
      }

      &__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 180%; /* 43.2px */
        text-transform: capitalize;
        margin: 25px 0;
      }

      &__link {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
        border-radius: 8px;
        border: 1px solid rgba(129, 129, 129, 0.30);
        display: block;
        padding: 8px 16px;
      }
    }

    &__bottom{
      background-color: #183021;
      padding: 50px;
      display: flex;
      align-items: center;

      position: absolute;
      bottom: 0;
      right: 0;
      width: 65%;
      border-top-left-radius: 150px;

      &__statistics {
        display: flex;
        align-items: center;
        column-gap: 30px;

        &__item {
          display: flex;
          align-items: center;
          column-gap: 16px;

          &__icon {
            font-size: 50px;
            color: #3E974C;
          }

          &__number {
            font-size: 32px;
            font-weight: 700;
            line-height: normal;
          }

          &__text {
            font-size: 18px;
            font-weight: 200;
            line-height: normal;
          }
        }
      }
    }
  }

  &--inner {
    padding: 50px 0 30px 0;
    background: url(../img/inner-header.png), linear-gradient(0deg, #D9D9D9, #D9D9D9),
    linear-gradient(91.83deg, #165B36 0.71%, rgba(22, 91, 54, 0) 107.11%),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);

    &__title {
      font-size: 46px;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }

  &__breadcrumb {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &__item {
      font-size: 18px;
      &__link {

      }

      &:last-of-type {
        color: #1DB05D;
      }

      &:hover {
        color: #1DB05D;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__logo {
      display: none;
      position: static;
      margin-inline-end: 0;
    }

    &__hero {
      height: 100vh;
      background-image: url(../img/hero-mobile.png);
      background-position: top;
      background-size: 100%;
      background-repeat: no-repeat;
      background-color: #195a38;

      &__content {
        justify-content: end;
        &__description {
          font-size: 18px;
        }

        &__title {
          font-size: 20px;
        }
      }

      &__bottom {
        position: static;
        width: 100%;
        padding: 30px 20px;
        border-top-left-radius: 0;

        &__statistics {
          //flex-direction: column;
          flex-wrap: wrap;
          &__item {
            margin-bottom: 20px;
            &__number {
              font-size: 17px;
            }

            &__text {
              font-size: 10px;
            }
          }
        }
      }
    }

    &--inner {
      padding-top: 100px;

        &__title {
            font-size: 30px;
        }
    }
  }

  @include media-breakpoint-between(xl, xxl){
    &__navbar--bottom .navbar__text {
      font-size: 16px!important;
    }
    .header__navbar--bottom .navbar__links {
      padding-inline-start: 180px
    }
    .header__navbar--bottom .navbar__link {
        padding: 28px 8px 20px 8px;
    }
  }
}


