.header {
  &__navbar{
    &--top {
      background-color: #155934 ;
      padding: 12px 0;

      &__container {
        display: flex;
        align-items: center;
      }

      &__items {
        margin-inline-end: auto;

        display: flex;
        align-items: center;
        column-gap: 24px;
        &__item {
          display: flex;
          align-items: center;
          column-gap: 8px;
          &__text {
            font-size: 14px;
            font-weight: 200;
          }

          &__icon {
            color: #FFAD4E;
          }
        }

      }

      &__actions {
        display: flex;
        align-items: center;
        column-gap: 8px;

        &__lang {
          display: flex;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          border: 1px solid rgba(129, 129, 129, 0.30);
          font-size: 14px;
        }

        &__action {
          border-radius: 8px;
          display: flex;
          height: 48px;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          background: rgba(13, 61, 24, 0.22);
          font-size: 14px;

          &__link {
            .icon {
              color: $color-white;
              &:before {
                color: currentColor;
              }
            }
          }
        }

      }
    }

    &--bottom {
      background: rgba(19, 80, 47, 1);

      .navbar__links   {
        display: flex;
        align-items: center;
      }

      .navbar__link {
        display: flex;
        height: 72px;
        padding: 28px 16px 20px 16px;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 4px;
      }

      .navbar__text {
        font-weight: 400;
        line-height: 120%; /* 21.6px */
      }
    }
  }
  &__hero {
    height: calc(100vh - 144px);
    background-image: url(../img/hero.png);
    background-size: cover;
    background-position: center;
    position: relative;

    &__content {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 50px;

      &__title {
        border-radius: 8px;
        background: var(--G500, #297935);
        padding: 10px 16px;
        display: inline;
        margin-bottom: 30px;
      }

      &__description {
        text-align: justify;
        font-size: 30px;
        font-weight: 700;
        line-height: 181.8%; /* 83.628px */
      }

      &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 180%; /* 43.2px */
        text-transform: capitalize;
        margin: 25px 0;
      }

      &__link {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
        border-radius: 8px;
        border: 1px solid rgba(129, 129, 129, 0.30);
        display: block;
        padding: 8px 16px;
      }
    }

    &__bottom{
      background-color: #183021;
      padding: 50px 0;
      display: flex;
      align-items: center;

      position: absolute;
      bottom: 0;
      width: 100%;

      &__statistics {
        display: flex;
        align-items: center;
        column-gap: 30px;

        &__item {
          display: flex;
          align-items: center;
          column-gap: 16px;

          &__icon {
            font-size: 50px;
            color: #3E974C;
          }

          &__number {
            font-size: 25px;
            font-weight: 700;
            line-height: normal;
          }

          &__text {
            font-size: 12px;
            font-weight: 200;
            line-height: normal;
          }
        }
      }
    }
  }
}


