$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: '../../../assets/fonts' !default;

$icon-arrow-down-0: unquote('"\\e94c"');
$icon-chair: unquote('"\\e94d"');
$icon-home: unquote('"\\e94e"');
$icon-table: unquote('"\\e94f"');
$icon-ticket: unquote('"\\e950"');
$icon-zoom_In: unquote('"\\e951"');
$icon-zoom_Out: unquote('"\\e952"');
$icon-zoom_Reset: unquote('"\\e953"');
$icon-arrow-left-0: unquote('"\\e93f"');
$icon-arrow-right-0: unquote('"\\e940"');
$icon-calender-0: unquote('"\\e941"');
$icon-chat-0: unquote('"\\e942"');
$icon-company-0: unquote('"\\e943"');
$icon-download-0: unquote('"\\e944"');
$icon-email-0: unquote('"\\e945"');
$icon-eye-0: unquote('"\\e946"');
$icon-phone-0: unquote('"\\e947"');
$icon-bag-0: unquote('"\\e948"');
$icon-envelope: unquote('"\\e939"');
$icon-goal: unquote('"\\e93b"');
$icon-mins: unquote('"\\e93d"');
$icon-plus: unquote('"\\e954"');
$icon-link: unquote('"\\e956"');
$icon-location1: unquote('"\\e957"');
$icon-folder: unquote('"\\e958"');
$icon-eye: unquote('"\\e959"');
$icon-file1: unquote('"\\e95a"');
$icon-site: unquote('"\\e95b"');
$icon-rectangle: unquote('"\\e95c"');
$icon-play: unquote('"\\e933"');
$icon-users-group: unquote('"\\e912"');
$icon-bag: unquote('"\\e913"');
$icon-file: unquote('"\\e918"');
$icon-email: unquote('"\\e919"');
$icon-phone: unquote('"\\e91a"');
$icon-print: unquote('"\\e91b"');
$icon-twitter1-path1: unquote('"\\e91c"');
$icon-twitter1-path2: unquote('"\\e91d"');
$icon-document-pdf: unquote('"\\e91e"');
$icon-facebook1-path1: unquote('"\\e91f"');
$icon-facebook1-path2: unquote('"\\e920"');
$icon-font: unquote('"\\e921"');
$icon-instagram1-path1: unquote('"\\e922"');
$icon-instagram1-path2: unquote('"\\e923"');
$icon-linkedin-path1: unquote('"\\e924"');
$icon-linkedin-path2: unquote('"\\e925"');
$icon-md-arrow-dropleft: unquote('"\\e928"');
$icon-camera: unquote('"\\e935"');
$icon-video: unquote('"\\e937"');
$icon-list: unquote('"\\e929"');
$icon-location: unquote('"\\e92a"');
$icon-attach: unquote('"\\e92b"');
$icon-coin: unquote('"\\e92c"');
$icon-clock: unquote('"\\e92d"');
$icon-to-do: unquote('"\\e92e"');
$icon-reward: unquote('"\\e92f"');
$icon-csertificate: unquote('"\\e930"');
$icon-chat: unquote('"\\e931"');
$icon-alert: unquote('"\\e932"');
$icon-user: unquote('"\\e910"');
$icon-menu: unquote('"\\e911"');
$icon-users: unquote('"\\e914"');
$icon-webinar: unquote('"\\e915"');
$icon-graduation: unquote('"\\e916"');
$icon-open-book: unquote('"\\e917"');
$icon-program-4: unquote('"\\e909"');
$icon-program-1: unquote('"\\e90d"');
$icon-program-2: unquote('"\\e90e"');
$icon-program-3: unquote('"\\e90f"');
$icon-left-arrow: unquote('"\\e908"');
$icon-twitter: unquote('"\\e902"');
$icon-facebook: unquote('"\\e903"');
$icon-instagram: unquote('"\\e904"');
$icon-youtube: unquote('"\\e90c"');
$icon-down-arrow: unquote('"\\e900"');
$icon-share: unquote('"\\e901"');
$icon-right-arrow: unquote('"\\e905"');
$icon-calender: unquote('"\\e906"');
$icon-qoute: unquote('"\\e907"');
$icon-search: unquote('"\\e90a"');
$icon-star: unquote('"\\e90b"');
$icon-list1: unquote('"\\e95d"');
$icon-clock1: unquote('"\\e95e"');
$icon-circle: unquote('"\\e95f"');
$icon-ear: unquote('"\\e926"');
$icon-calender1: unquote('"\\e927"');
$icon-tone: unquote('"\\e934"');
$icon-down-arrow1: unquote('"\\e936"');
$icon-certificate: unquote('"\\e938"');
$icon-open-book1: unquote('"\\e93a"');
$icon-alpha: unquote('"\\e93c"');
$icon-weather: unquote('"\\e93e"');
$icon-Union-11: unquote('"\\e955"');
$icon-linkedin-0: unquote('"\\e949"');
$icon-linkedin-1: unquote('"\\e94a"');
$icon-linkedin-3: unquote('"\\e94b"');
$icon-linkedin2: unquote('"\\eaca"');

